@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

body {

  font-family: 'Poppins', sans-serif;

}

.heading {

  font-family: 'Poppins', sans-serif;

}

.heading h2 {

  font-family: 'Poppins', sans-serif;
}

h2 {
  font-family: 'Poppins', sans-serif;

}

p {
  

  font-family: 'Poppins', sans-serif;
}

/*-----------------------------------------------------------------------------------------------------*/

/*COMMON CSS*/
html {
  overflow-x: hidden; 
}
body {
  font-size: 20px; 
  overflow-x: hidden; 
}

.container {
  max-width: 100%; 
  padding: 0 15px; 
  margin: 0 auto; 
}

.contact-info-section {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1001; 
  background-color: #e22d2d;
  padding: 1px;
}

.contact-info-section ul {
  list-style: none; 
  display: flex;
  justify-content: center; 
  margin-top: 15px;
}

.contact-info {
  margin: 0 40px; 

}

.contact-info a {
  display: flex;
  align-items: center;
  color: #000000;
  font-size: 15px !important;
}

.contact-info a:hover {
  color: #ffffff; 
  text-decoration: underline; 
}


.contact-info a span {
  margin-left: 10px;
}

.contact-info a i{
  margin-right: 15px;
  font-size:15px;
  color: #000000;
}

.contact-info a:hover i {
    color: #ffffff; 
}

.container {
  padding-top: 0px; 
}


.navbar {
  position: fixed !important;
  background-color: rgb(255, 255, 255) !important;
  top: 50px;
  z-index: 1000;
  height: 100px; 
  width: 102vw; 
  margin-left: -20px !important; 
  margin-right: 0; 

}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.navbar-brand {
  padding-left: 40px; 
  margin-top: 20px;

}

.navbar-nav{
  margin-left: auto;
}

.navbar-nav .nav-link {
  margin-right: 40px; 
  color: #000000 !important;  
  font-size: 15px !important;
}

.navbar-nav .nav-link:hover {
  color: #e53935 !important; 
  text-decoration: underline; 
}

/*media query*/
@media (max-width: 320px) {

  .contact-info-section {
    display: none; 
  }

  .navbar {
      margin-top: -90px;
      position: fixed;
      top: 50px;
      z-index: 1000;
      height: 150px;
      width: 108vw !important;
      margin-left: 0;
      margin-right: 0;
  }


  .navbar-brand {
    padding-left: 40px; 
    margin-top: 20px;
  
  }


 
  .navbar-brand img{
    padding-left: 10px !important; 
    margin-top: 10px;
    width:176px;
    height:100px;
    margin-left:-50px;
  
  }

}
@media (max-width: 992px) {
  .contact-info-section {
    display: none; 
  }

  .navbar {
      margin-top: -90px;
      position: fixed;
      top: 50px;
      z-index: 1000;
      height: 150px;
      width: 100vw;
      margin-left: 0;
      margin-right: 0;
  }

  .navbar-brand {
    padding-left: 40px; 
    margin-top: 20px;
  
  }

  .navbar-brand img{
    padding-left: 10px !important; 
    margin-top: 10px;
    width:200px;
    height:100px;
    margin-left:-50px;
  
  }
  
}

@media (max-width: 992px) {
  .navbar-collapse {
    background-color: rgb(241, 239, 239); 
    text-align: center; 
    padding: 50px; 
    margin-left: -100px; 
    margin-right:-100px;
    margin-top:-18px;
    top: 0; 
    left: 0; 
    width: 100vw; 
    z-index: 1000; 
  }

}


/*common nav bar 


* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;


}




nav {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.288);
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
 
  justify-content: flex-start; 
  align-items: center;
  margin-left: -50px;
font-family: 'Poppins', sans-serif;
  height: 105px;
}



nav img {
  max-height: 100%;
  float: left;
  margin-right: 80px;

}



nav ul img {
  margin-left: 0px;


}

nav li {
  height: 50px;

}

nav a {
  height: 100%;
  padding: 0 25px;
  padding-right: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
  font-size: 13px;
}

.contact-info {
  display: block;
}


.contact-info i {

  margin-right: 10px;

}


nav a:hover {
  color: #e53935;
  text-decoration: underline;


}

nav li:first-child {
  margin-right: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(163, 60, 60, 0.459);
  backdrop-filter: blur(10px);

  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
  margin-left: 10px;
  margin-bottom: 40px;
  font-size: 14px;
}

.menu-button {
  display: none;
}




@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }

  .menu-button {
    display: block;
  }

}

@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}


/* For screens up to 320px 
@media only screen and (max-width: 320px) {
  
  body {
    flex-direction: column;
  }

  nav ul {
    justify-content: center;
    margin-left: 0;
  }

  nav img {
    max-height: 100px;
    float: left;
    margin-right: 25px;  
  }

  nav ul img {
    margin-left: 0;
  }

  nav li {
    height: auto;
  }

  nav a {
    padding: 0 15px;
    padding-right: 10px;
    font-size: 11px;
  }

  .sidebar {
    width: 100%;
  }

  .contact-info {
    display: none;
  }

}

/* For screens between 321px and 375px 
@media only screen and (min-width: 321px) and (max-width: 375px) {
  
  body {
    flex-direction: column;
  }

  nav ul {
    justify-content: center;
    margin-left: 0;
  }

  nav img {
    max-height: 100%;
    float: left;
    margin-right: 80px;  
  }

  nav ul img {
    margin-left: 0;
  }

  nav li {
    height: auto;
  }

  nav a {
    padding: 0 15px;
    padding-right: 10px;
    font-size: 11px;
  }

  .sidebar {
    width: 100%;
  }

  .contact-info {
    display: none;
  }
}





/* For screens between 376px and 400px 
@media only screen and (min-width: 376px) and (max-width: 400px) {


  body {
    flex-direction: column;
  }

  nav ul {
    justify-content: center;
    margin-left: 0;
  }

  nav img {
    max-height: 100px;
    float: left;
    margin-right: 105px;  
  }

  nav ul img {
    margin-left: 0;
  }

  nav li {
    height: auto;
  }

  nav a {
    padding: 0 15px;
    padding-right: 10px;
    font-size: 11px;
  }

  .sidebar {
    width: 100%;
  }

  .contact-info {
    display: none;
  }
}


/* For screens between 401px and 425px 
@media only screen and (min-width: 401px) and (max-width: 425px) {


  body {
    flex-direction: column;
  }

  nav ul {
    justify-content: center;
    margin-left: 0;
  }

  nav img {
    max-height: 100px;
    float: left;
    margin-right: 130px;  
  }

  nav ul img {
    margin-left: 0;
  }

  nav li {
    height: auto;
  }

  nav a {
    padding: 0 15px;
    padding-right: 10px;
    font-size: 11px;
  }

  .sidebar {
    width: 100%;
  }



  .contact-info {
    display: none;
  }
}




/* For screens between 426px and 475px 
@media only screen and (min-width: 426px) and (max-width: 475px) {
  body {
    flex-direction: column;
    padding:0;
    margin:0;
  }

  nav ul {
    justify-content: center;
    margin-left: 0;
  }

  nav img {
    float: left;
    margin-right: 180px; 
  }

  nav ul img {
    margin-left: 0;
  }

  nav li {
    height: auto;
  }

  nav a {
    padding: 0 15px;
    padding-right: 10px;
    font-size: 11px;
  }

  .sidebar {
    width: 100%;
  }



  .contact-info {
    display: none;
  }


}




/* For screens between 476px and 768px 
@media only screen and (min-width: 476px) and (max-width: 768px) {

  body {
    flex-direction: column;
    padding:0;
    margin:0;
  }

  nav ul {
    justify-content: center;
    margin-left: 0;
  }


  nav img {
    float: left;
    margin-right: 420px; 
  }

  nav ul img {
    margin-left: 0;
  }

  nav li {
    height: auto;
  }

  nav a {
    padding: 0 15px;
    padding-right: 10px;
    font-size: 11px;
  }

  .sidebar {
    width: 100%;
  }



  .contact-info {
    display: none;
  }


}






@media only screen and (min-width: 769px) and (max-width: 800px) {


  body {
    flex-direction: column;
    padding:0;
    margin:0;
  }

  nav ul {
    justify-content: flex-start; 
    margin-left: 0;
  }

  nav img {
    float: left;
    margin-right: 490px; 
  }

  nav ul img {
    margin-left: 0;
  }

  nav li {
    height: auto;
  }

  nav a {
    padding: 0 15px;
    padding-right: 10px;
    font-size: 11px;
  }

  .sidebar {
    width: 100%;
  }


  .contact-info {
    display: none;
  }


}



/* For screens between 801px and 1024px
@media only screen and (min-width: 801px) and (max-width: 1024px) {


  nav img {
    float: left;
    margin-right: 50px; 
  }


  nav ul {
    margin-left: 0;
    justify-content: flex-start; 

  }

  nav li {
    height: 50%;
  }

  nav a {
    padding: 0 15px;
    padding-right: 10px;
    font-size: 0.8rem;
  }

  .contact-info {
    display: block;
  }

  .sidebar {
    display: none;
  }
}


@media only screen and (min-width: 1025px) and (max-width: 1440px)  {


  nav img {
    margin-right: 280px; 
    float: left; 
    width: 100%;

  }

 
  nav ul {
    justify-content: flex-start; 
    margin-left: 0;
  }

  nav li {
    height: 50%;
  }

  nav a {
    padding: 0 15px;
    padding-right: 18px;
    font-size: 0.89rem;
    
  }

  .contact-info {
    display: block; 
  }

  .sidebar {
    display: none;
  }
}






/*@media only screen and (min-width: 1441px) and (max-width: 2560px) {

  nav img {
    margin-right: 20rem; 

    
  }

  
nav {

  height: 180px;

}

  
  
  nav ul img {
    margin-left: 5rem;
    max-height: 180%;
    margin-top: 2.5rem;
  
  } 
  
  
  nav ul {
    justify-content: center;
    margin-left: 0;
  }

  nav li {
    height: 50px;
  }

  nav a {
    padding: 0 1rem;
    padding-right: 2rem;
    font-size: 1.9rem;
    margin-top: 3rem;
  }

  .contact-info {
    display: block; 
  }

  .sidebar {
    display: none;
  }

}
*/









.container-footer{
  background-color: #e2e0e0 !important;
}


.img-col-md-3 img {
  width: 250px !important; /* Adjust the size as needed */
  height: auto;
  margin-left: 20px;
  margin-top: 50px;
}


.col-md-3  h3{
  font-size: 20px; 
}

.col-md-3 {
  font-size: 16px; 
  text-align: justify; 
margin-top:50px;
margin-bottom: 50px;
padding: 0 10px; /* Adjust the spacing as needed */
}


.col-md-3 a{
  color: #000000;
}

.col-md-3 a:hover {
  color: #e22d2d; /* Change color on hover */
}




@media (max-width: 992px) {

  .img-col-md-3 img {
    width: 250px !important; /* Adjust the size as needed */
    height: auto;
    margin-left: 20px;
    margin-top: 50px;
  }
  
  
  .col-md-3  h3{
    font-size: 20px; 
  }
  
  .col-md-3 {
    font-size: 16px; 
    text-align: justify; 
  margin-top:50px;
  margin-bottom: 50px;
  margin-left:50px;
  

}
}















/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
/*common  footer   css 


.footer {
  background-color: #bebcbc;
  padding: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;


}

.contact-us-container,
.follow-us-container,
.privacy-terms-container {
  margin-top: 20px;
}

.logo-container img {
  width: 200px;
  height: auto;
  display: block;
}




.contact-us-container i {
  color: #e53935;
  margin-right: 5px;

}

.contact-us-container h3 {
  font-size: 20px;
}

.follow-us-container {
  clear: both;
  margin-top: -49px;
}

.follow-us-container h3 {
  font-size: 20px;
}


.follow-us-container a i {
  color: #212221;
  margin-right: 5px;

}


.follow-us-container a:hover i {
  color: #e53935
}

.privacy-terms-container {
  text-align: justify;
}

.privacy-terms-container a {
  display: block;
  margin-bottom: 5px;

  color: black;
  text-decoration: none;

  transition: color 0.3s, text-decoration 0.3s;

}


.privacy-terms-container a:hover {
  color: #e53935;
  text-decoration: underline;

}


/*-+-+-+-+-+-+-+-


@media only screen and (max-width: 320px) {
  .footer {
    display: block;
  }

  .logo-container {
    margin-top: -10px;
    margin-left: -20px;
  }

  .contact-us-container,
  .follow-us-container,
  .privacy-terms-container {
    margin-top: 20px;
  }


  .contact-us-container h3,  .follow-us-container h3 {
    font-size: 18px;
  
  }

  .contact-us-container span{
    font-size: 15px;
  }

}




@media only screen and (min-width: 321px) and (max-width: 375px) {

  .footer {
    display: block;
  }

  .logo-container {
    margin-top: -10px;
    margin-left: -20px;
  }

  .contact-us-container,
  .follow-us-container,
  .privacy-terms-container {
    margin-top: 20px;
  }


  .contact-us-container h3,  .follow-us-container h3 {
    font-size: 18px;
  
  }

  .contact-us-container span{
    font-size: 15px;
  }



}



@media only screen and (min-width: 376px) and (max-width: 400px) {

  .footer {
    display: block;
  }

  .logo-container {
    margin-top: -10px;
    margin-left: -20px;
  }

  .contact-us-container,
  .follow-us-container,
  .privacy-terms-container {
    margin-top: 20px;
  }


  .contact-us-container h3,  .follow-us-container h3 {
    font-size: 18px;
  
  }

  .contact-us-container span{
    font-size: 15px;
  }


}


/* For screens between 401px and 425px 
@media only screen and (min-width: 401px) and (max-width: 425px) {

  .footer {
    display: block;
  }

  .logo-container {
    margin-top: -10px;
    margin-left: -20px;
  }

  .contact-us-container,
  .follow-us-container,
  .privacy-terms-container {
    margin-top: 20px;
  }


  .contact-us-container h3,  .follow-us-container h3 {
    font-size: 18px;
  
  }

  .contact-us-container span{
    font-size: 15px;
  }



}


/* For screens between 426px and 475px 
@media only screen and (min-width: 426px) and (max-width: 475px) {

  .footer {
    display: block;
  }

  .logo-container {
    margin-top: -10px;
    margin-left: -20px;
  }

  .contact-us-container,
  .follow-us-container,
  .privacy-terms-container {
    margin-top: 20px;
  }


  .contact-us-container h3,  .follow-us-container h3 {
    font-size: 18px;
  
  }

  .contact-us-container span{
    font-size: 15px;
  }


}



/* For screens between 476px and 768px 
@media only screen and (min-width: 476px) and (max-width: 768px) {

  .footer {
    display: block;
  }

  .logo-container {
    margin-top: -10px;
    margin-left: -20px;
  }

  .contact-us-container,
  .follow-us-container,
  .privacy-terms-container {
    margin-top: 20px;
  }


  .contact-us-container h3,  .follow-us-container h3 {
    font-size: 18px;
  
  }

  .contact-us-container span{
    font-size: 15px;
  }


}



/* For screens between 769px and 800px *
@media only screen and (min-width: 769px) and (max-width: 800px) {

  .footer {
    display: block;
  }

  .logo-container {
    margin-top: -10px;
    margin-left: -20px;
  }

  .contact-us-container,
  .follow-us-container,
  .privacy-terms-container {
    margin-top: 20px;
  }


  .contact-us-container h3,  .follow-us-container h3 {
    font-size: 18px;
  
  }

  .contact-us-container span{
    font-size: 15px;
  }

}


/* For screens between 801px and 1024px *
@media only screen and (min-width: 801px) and (max-width: 1024px) {

  .footer {
    background-color: #bebcbc;
    padding: 20px;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  
  }
  
  .contact-us-container,
  .follow-us-container,
  .privacy-terms-container {
    margin-top: 20px;
  }
  
  .logo-container img {
    width: 200px;
    height: auto;
    display: block;
  }
  
  
  
  
  .contact-us-container i {
    color: #e53935;
    margin-right: 10px;
  
  }
  
  .contact-us-container h3 {
    font-size: 20px;
  }
  
  .follow-us-container {
    clear: both;
    margin-top: -49px;
  }
  
  .follow-us-container h3 {
    font-size: 20px;
  }
  
  
  .follow-us-container a i {
    color: #212221;
    margin-right: 5px;
  
  }
  
  

  
  .privacy-terms-container {
    text-align: justify;
  }
  
  .privacy-terms-container a {
    display: block;
    margin-bottom: 5px;
  
    color: black;
    text-decoration: none;
  
    transition: color 0.3s, text-decoration 0.3s;
  
  }
  
  
  .privacy-terms-container a:hover {
    color: #e53935;
    text-decoration: underline;
  
  }
  

}




/* For screens between 1025px and 1440px *
@media only screen and (min-width: 1025px) and (max-width: 1440px) {

  .footer {
    background-color: #bebcbc;
    padding: 20px;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  
  }
  
  .contact-us-container,
  .follow-us-container,
  .privacy-terms-container
  {
    margin-top: 20px;
  }
  
  .logo-container img {
    width: 200px;
    height: auto;
    display: block;
  }
  
  
  
  
  .contact-us-container i {
    color: #e53935;
    margin-right: 10px;
  
  }
  
  .contact-us-container h3 {
    font-size: 18px;
  }
  
  .follow-us-container {
    clear: both;
    margin-top: -50px;
  }
  
  .follow-us-container h3 {
    font-size: 18px;
  }
  
  
  .follow-us-container a i {
    color: #212221;
    margin-right: 5px;
  
  }
  
  

  
  .privacy-terms-container {
    text-align: justify;
  }
  
  .privacy-terms-container a {
    display: block;
    margin-bottom: 5px;
  
    color: black;
    text-decoration: none;
  
    transition: color 0.3s, text-decoration 0.3s;
  
  }
  
  
  .privacy-terms-container a:hover {
    color: #e53935;
    text-decoration: underline;
  
  }
  


}*/



/* For screens between 1441px and 2560px 
@media only screen and (min-width: 1441px) and (max-width: 2560px) {

  .footer {
    background-color: #bebcbc;
    padding: 20px;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  height: 30rem;
  
  }
  
  .contact-us-container,
  .follow-us-container,
  .privacy-terms-container
  {
    margin-top: 20px;
  }
  
  .logo-container img {
    width: 80%;
    height: auto;
    display: block;
  }


  .privacy-terms-container a{

    font-size: 2.7em;

    text-align: justify;
    margin-left:-5em;

  }


  .contact-us-container{

    font-size: 2.7em ;
  }

  .contact-us-container h3{

    font-size: 2.8rem;
  }
  
  .contact-us-container i {
    color: #e53935;
    margin-right: 10px;
  
  }
  
  
  .follow-us-container {
    clear: both;
    margin-top: -120px;
  }
  
  .follow-us-container h3 {
    font-size: 2.8rem;
  }
  
  
  .follow-us-container a i {
    color: #212221;
    margin-right: 5px;
    font-size: 3em; 
  
  }
  
}
*/